.App {
  text-align: center;
}

a:hover {
  color: white;
}

ul {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 16px 12px;
}

.navbar__logo {
  font-size: 32px;
  color: white;
  padding-right: 12px;
}

.navbar__logo i {
  color: orange;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 8px;
}

.navbar__log,
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 32px;
}

.navbar__menu li:hover {
  background-color: orange;
  border-radius: 1rem;
}

.navbar__log li {
  padding: 8px 16px;
}

.navbar__log li:hover {
  background-color: salmon;
  border-radius: 1rem;
}

li:hover > a,
.navbar__log > div:hover > a {
  color: black;
}

.navbar__log {
  color: white;
}

#previewImage {
  width: 500px;
  border: solid 1px gray;
}

#headerBox {
  border: 1px solid gray;
}

#uploadBox {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: orange;
}

#uploadBox > * {
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
  }

  .navbar__log {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__log.active {
    display: flex;
  }
}

/* ----------------여기까지 헤더 css----------- */
