body {
  margin: 0;
  font-family: "Source Sans Pro";
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

#previewImage {
  width: 500px;
  border: solid 1px gray;
}

#headerBox {
  border: 1px solid gray;
}

#uploadBox {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

#uploadBox > * {
  margin: 10px;
}

/* ----------------여기까지 헤더 css----------- */

.fa-solid:hover {
  color: black;
}
